---
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
---

<MainLayout activePage="contact" pageTitle={siteConfig.title + " | Contact"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.contactInfo?.title}</h1>
    <div class="flex flex-col">
      <p class="font-light text-left text-balance">
        {siteConfig.contactInfo?.text}
      </p>
      <p class="font-light text-left">
        {siteConfig.contactInfo?.email?.text}<br />
        <a
          href={siteConfig.contactInfo?.email?.href}
          class="font-light text-left"
        >
          {siteConfig.contactInfo?.email?.email}
        </a>
      </p>
      <p class="font-bold text-left flex flex-col sm:flex-row">
        Social:
        {
          siteConfig.contactInfo?.socialProfiles?.map((profile) => (
            <a href={profile.href} class="font-light text-left ml-4">
              {profile.text}
            </a>
          ))
        }
      </p>
    </div>
  </div>
</MainLayout>
